<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
	<listeners>
		<listener class-name="com.orange.listener.CustomListener"></listener>
		<listener class-name="com.orange.listener.ExtentReporterNG"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes >
      <class name="com.orange.test.LoginPageTest"/>
	 <class name="com.orange.test.HomePageTest"/>
	<class name="com.orange.test.AddEmployeeTest"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
